@import "variables";

.delete-modal-style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.734);

  .delete-modal-content {
    padding: 20px;
    position: relative;
    background-color: $bg-color;
    border-radius: 8px;
    text-align: center;
    color: $text-color;
    width: 50%;
    max-width: 600px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background-color: $border-color;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .modal-buttons {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      button {
        margin: 0 5px;
        padding: 10px 20px;
        border: 2px solid $border-color;
        background-color: $input-bg;
        color: $text-color;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          border-color: $hover-border-color;
        }
      }
    }
  }
}
