@import "variables";

.share-modal-style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);

  .modal-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $bg-color;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 25%;
    height: 70px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background-color: $border-color;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .share-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 20px;
      width: 40px;
      height: 40px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
